@import "../../../scss/functions.scss";

.currency {
  max-width: 115px;
  font-size: 18px;
  padding: em(20, 18);
  &__list {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  }
  &__item {
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: em(8, 18) 0;
    &._active {
      background: #eeeeee;
    }
  }
}
