
.overlay {

  font-family: "Raleway";
  font-size: 16px;

  position: absolute;
  top: 260%;
  right: 0;

  z-index: 100;

  background: #fff;

  &__wrapper {
    padding: 2em 1em;
  }
  &__title {

    span {
      font-weight: 700;
      color: #1d1f22;
    }

    margin-bottom: 32px;
  }
  &__row {
    display: flex;
    flex-direction: column;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
      
      background-color: #888;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(81, 81, 81);
      border-radius: 10px;
    }
  }
  &__item {
    display: flex;
    gap: 8px;
    width: 293px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  &__footer {
    margin-top: 40px;
  }
}

.item-overlay {
  &__info {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 136px;
  }

  &__text-block {
    font-weight: 300;
    line-height: 160%;
    color: #1d1f22;
  }

  &__price {
    font-weight: 500;
    color: #1d1f22;
  }

  &__attributes {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  
  
  &__label {
    margin-bottom: 8px;
    font-size: 14px;
  }

  &__values {
    display: flex;
    gap: 8px;
  }

  &__value {
    width: 100%;
    height: 24px;
    border: 1px solid #1d1f22;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    
    
    &._active {
      background-color: #1d1f22;
      color: #fff;
    }
  }

  &__color-value {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &._active {
      border: 1px solid #5ece7b;
    }
    
    div {
      width: 16px;
      height: 16px;
      background-color: #1d1f22;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    width: 24px;
    height: 24px;
    border: 1px solid #1d1f22;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      width: 8px;
      height: 1px;
      background: #1d1f22;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  &__button-plus {
    &::before {
      content: '';
      width: 1px;
      height: 8px;
      background: #1d1f22;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    img {
      max-width: 100%;
    }
  }
}

.footer-overlay {
  &__stats {
    display: flex;
    justify-content: space-between;
  }
  &__label {
    font-family: "Roboto";
    font-weight: 500;
  }
  &__price {
    font-weight: 700;
  }
  &__buttons {
    display: flex;
    gap: 12px;
    width: 100%;
    margin-top: 32px;
  }
  &__button {
    display: block;
    font-size: 14px;
    padding: 13px 0;
    width: 100%;
    background: transparent;
    border: 1px solid #1d1f22;
    text-transform: uppercase;
    font-weight: 600;
    color: #1d1f22;
  }
  &__button-green {
    border: 0;
    background: #5ece7b;
    color: #fff;
  }
}

