
.overlay {

  font-family: "Raleway";
  font-size: 16px;

  position: absolute;
  top: 260%;
  right: 0;

  z-index: 100;

  background: #fff;

  &__wrapper {
    padding: 2em 1em;
  }
  &__title {

    span {
      font-weight: 700;
      color: #1d1f22;
    }

    margin-bottom: 32px;
  }
  &__row {
    display: flex;
    flex-direction: column;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
      
      background-color: #888;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(81, 81, 81);
      border-radius: 10px;
    }
  }
  &__item {
    display: flex;
    gap: 8px;
    width: 293px;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  &__footer {
    margin-top: 40px;
  }
}

.item-overlay {
  &__info {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 136px;
  }

  &__text-block {
    font-weight: 300;
    line-height: 160%;
    color: #1d1f22;
  }

  &__price {
    font-weight: 500;
    color: #1d1f22;
  }

  &__attributes {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__attribute {}
  
  &__label {
    margin-bottom: 8px;
    font-size: 14px;
  }

  &__values {
    display: flex;
    gap: 8px;
  }

  &__value {
    width: 100%;
    height: 24px;
    border: 1px solid #1d1f22;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    
    
    &._active {
      background-color: #1d1f22;
      color: #fff;
    }
  }

  &__color-value {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &._active {
      border: 1px solid #5ece7b;
    }
    
    div {
      width: 16px;
      height: 16px;
      background-color: #1d1f22;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    width: 24px;
    height: 24px;
    border: 1px solid #1d1f22;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      width: 8px;
      height: 1px;
      background: #1d1f22;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  &__button-plus {
    &::before {
      content: '';
      width: 1px;
      height: 8px;
      background: #1d1f22;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__amount {}

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url('../../assets/products/product.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    img {
      max-width: 100%;
    }
  }
}

.footer-overlay {
  &__stats {
    display: flex;
    justify-content: space-between;
  }
  &__label {
    font-family: "Roboto";
    font-weight: 500;
  }
  &__price {
    font-weight: 700;
  }
  &__buttons {
    display: flex;
    gap: 12px;
    width: 100%;
    margin-top: 32px;
  }
  &__button {
    display: block;
    font-size: 14px;
    padding: 13px 0;
    width: 100%;
    background: transparent;
    border: 1px solid #1d1f22;
    text-transform: uppercase;
    font-weight: 600;
    color: #1d1f22;
  }
  &__button-green {
    border: 0;
    background: #5ece7b;
    color: #fff;
  }
}

// @import "../../scss/functions";

// .overlay {
//   position: absolute;
//   right: 0;
//   top: 260%;
//   z-index: 1000;

//   background: #FFF;

//   display: none;

//   &._active {
//     display: block;
//   }

//   &__container {
//     display: flex;
//     flex-direction: column;

//     gap: 2em;


//     font-size: 16px;
//     padding: 2em 1em;
//     width: 325px;
//   }
//   &__title {
//     font-size: 1em;
//     span {
//       font-weight: 700;
//     }
//   }
//   &__list {
//     display: flex;
//     flex-direction: column; 

//     margin-top: 2em;
//   }
//   &__item {
//     display: flex;
//     gap: 8px;

//     width: 100%;
//     &:not(:last-child) {
//       margin-bottom: 40px;
//     }
//     height: 100%;
//   }

//   &__total {
//     width: 100%;

//     display: flex;
//     justify-content: space-between;
//   }
//   &__label {
//     font-family: "Roboto";
//     font-size: 1em;
//     font-weight: 500;
//   }
//   &__price {
//     font-size: 1em;
//     font-weight: 700;
//   }
//   &__controls {
//     display: flex;
//     min-width: 100%;
//     gap: 12px;
//     a {
//       display: block;
//       width: 100%;
//     }
//   }
//   &__btn {
//     width: 100%;
//     &__white {
//       width: 100%;
//       background: transparent;
//       color: #1d1f22;
//       border: 1px solid #1d1f22;
//       &:hover {
//         color: #1d1f22;
//         background: rgb(234, 233, 233);
//       }
//     }
//   }
// }

// .item {
//   &__row {
//     display: flex;
//     gap: 20px;
//     justify-content: space-between;
//     width: 100%;
//   }
//   &__info {
//     display: flex;
//     flex-direction: column;
//     gap: 0.5em;
//   }
//   &__textblock {
//     display: flex;
//     flex-direction: column;
//     gap: 5px;

//     font-weight: 300;
//   }
  
//   &__label {
//     font-family: "Raleway";
//     font-size: 14px;
//     font-weight: 400;
//     text-transform: none;
//   }
//   &__price {
//     font-size: 1em;
//     font-weight: 500;
//   }
 
//   &__size {
//     font-size: 14px;
//     width: 24px;
//     height: 24px;
//     line-height: 160%;
//     padding: 0 5px;
//   }
//   &__color {
//     div {
//       width: 1em;
//       height: 1em;
//     }
//   }

//   &__controls {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: center;
//   }
//   &__button {
//     font-size: 16px;

//     display: block;

//     position: relative;

//     width: 1.5em;
//     height: 1.5em;

//     background: transparent;

//     border: 1px solid #1d1f22;

//     &::before {
//       content: "";
//       position: absolute;
//       display: block;
//       width: 0.5em;
//       height: 1px;
//       background: #1d1f22;
//       top: 50%;
//       left: 33.333%;
//     }
//     &__plus {
//       &::after {
//         content: "";
//         position: absolute;
//         display: block;
//         width: 0.5em;
//         height: 1px;
//         left: 33.333%;
//         top: 50%;
//         transform: rotate(90deg);
//         background: #1d1f22;
//       }
//     }
//   }

//   &__image {
//     min-height: 100%;
//     width: 100%;
//     box-sizing: content-box;
//     img {
//       width: 100%;
//       min-height: 100%;
//     }
//   }
// }
