@import "../../scss/functions";

.product {
  padding: 80px 0;
  position: relative;
  flex: 1 1 auto;
  &._active {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(168, 172, 176, 0.25);
    }
  }
  &__container {
    display: flex;
    gap: 100px;
  }

  &__images {
    display: flex;
    gap: 40px;
  }

  &__textblock {
    font-size: 30px;

    display: flex;
    flex-direction: column;

    gap: em(16, 30);

    margin-bottom: em(43, 30);
  }
  &__title {
    font-weight: 600;
  }

  &__attributes {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 36px;
  }

  &__price {
    margin-bottom: 20px;
  }

  &__button {
    margin-bottom: 40px;
  }

  &__text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 160%;
    max-width: 290px;
    * {
      list-style: square; 
    }
  }
}

.images {
  &__small {
    display: flex;
    flex-direction: column;
    gap: 40px;
    cursor: pointer;

    img {
      max-width: 80px;
    }
  }

  &__big {
    max-width: 610px;
    
    img {
      width: 610px;
    }
  }
}
