@import "./functions.scss";

.common {
  &__label {
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: 700;

    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__selection {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__size {
    cursor: pointer;
    font-family: "Source Sans Pro";
    font-size: 16px;

    letter-spacing: 0.05em;

    padding: em(13, 16) em(23, 16);
    width: em(63, 16);

    border: 1px solid #1d1f22;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    &._active {
      color: #fff;
      background-color: #1d1f22;
    }
  }

  &__color {
    cursor: pointer;
    div {
      width: 32px;
      height: 32px;
      background-color: #1d1f22;
    }

    &._active {
      div {
        margin: 2px;
      }
      border: 1px solid #5ece7b;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
  }

  &__btn {
    font-size: 14px;
    padding: 1em 0;
    width: 100%;
    text-transform: uppercase;
    background-color: #5ece7b;
    font-weight: 600;
    color: #fff;
    transition: background-color 0.3s ease;
    &__big {
      font-size: 16px;
    }
    &:hover {
      background-color: #54b16c;
    }
  }
}
